<div class="div-text">
  <h1 style="color: rgb(156, 152, 152);">Revizia Project Dashboard</h1>
</div>
<div style="display: flex; justify-content: center; flex-wrap: wrap;">
  <mat-card class="totalizador-card">
    <div id="container">
      <div class="left-content">
        <p>Total de Veiculos</p>
        <h1>{{totalVehicle}}</h1>
      </div>
      <div class="center-content">
        <h1><mat-icon> directions_car</mat-icon></h1>
      </div>
    </div>
  </mat-card>

  <mat-card class="totalizador-card">
    <div id="container">
      <div class="left-content">
        <p>Vendido</p>
        <h1>{{totalSold}}</h1>
      </div>
      <div class="center-content">
        <h1><mat-icon> directions_car</mat-icon></h1>
      </div>
    </div>
  </mat-card>

  <mat-card class="totalizador-card">
    <div id="container">
      <div class="left-content">
        <p>Total em analise </p>
        <h1>{{totalAnalysis}}</h1>
      </div>
      <div class="center-content">
        <h1><mat-icon> directions_car</mat-icon></h1>
      </div>
    </div>
  </mat-card>
</div>

<mat-card>
  <div class="input-container">
    <mat-form-field>
      <mat-label>fILTRO</mat-label>
      <mat-select [(ngModel)]="yearVehicle">
        <mat-option (click)="filterDashboard(yearVehicle)" *ngFor="let l of listGroup" [value]="l.yearVehicle">
          {{l.yearVehicle}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="button-row" fxLayout="row" fxLayoutAlign="space-between">
      <button mat-raised-button class="responsive-button" color="primary">Filtrar</button>
    </div>
  </div>
</mat-card>
<br>

<mat-card>
  <div class="container-dashboard">
    <div class="box chart-box" style="display: flow;">
      <p><b>Veiculo vendidos </b></p>
      <hr>
      <canvas id="myChart"></canvas>
    </div>
    <div class="box chart-box" style="display: flow;">
      <p><b>Veiculo vendidos </b></p>
      <hr>
      <canvas id="myChartLine"></canvas>
    </div>
  </div>
</mat-card>