
.container-dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.totalizador-card {
  width: 300px;
  /* Ajuste o tamanho conforme necessário */
  margin: 20px;
  padding: 20px;
}

#container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-content {
  text-align: left;
}

.center-content {
  text-align: center;
}

h1 {
  font-size: 24px;
  margin: 0;
  color: #333;
  /* Personalize a cor do texto conforme necessário */
}

p {
  font-size: 16px;
  margin: 0;
}

.input-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: left;
}

.responsive-button {
  flex: 1;
  margin: 8px;
  min-width: 120px;
  max-width: 200px;
}

.div-text{
  justify-content: center; 
  display: flex; 
  margin-top: 20px;
}

mat-icon{
  color: orange;
}

@media screen and (max-width: 768px) {
  .totalizador-card {
    width: calc(50% - 20px);
    /* Distribui igualmente em telas médias */
  }
}

@media screen and (max-width: 480px) {
  .totalizador-card {
    width: 100%;
    /* Empilha os cards em telas pequenas */
  }
}

@media (min-width: 768px) {
  .containers {
    display: flex;
    justify-content: space-between;
  }

  .containers>div {
    flex: 0 0 48%;
    /* Defina o tamanho desejado */
  }
}

/* Estilos para dispositivos de tela pequena (sm) */
@media (max-width: 767px) {
  .containers {
    flex-direction: column;
    /* Empilhe os elementos verticalmente */
  }

  .containers>div {
    flex: 0 0 100%;
    /* Use toda a largura disponível */
  }
}

@media (max-width: 768px) {
  .box {
    width: 100%;
  }
}